.container {
  width: 100%;
  background-color: #121212;
  overflow: hidden;
  .container_artist {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .image_artist {
    padding-top: 30px;
    height: 200px;
    width: 75%;
  }
  .info_album {
    width: 30%;
    background-color: black;
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: white;
  }
  h3 {
    padding-top: $pt10;
    font-size: 20px;
  }
  h4 {
    padding-top: $pt10;
    font-size: 18px;
  }
  p {
    padding-top: $pt10;
    font-size: 16px;
  }
}
